@tailwind base;
@tailwind components;
@tailwind utilities;


.table-zebra>tbody>tr:hover {
  @apply bg-base-200;
}
.table-zebra>tbody>tr.selected:hover,
.table-zebra>tbody>tr.selected {
  @apply bg-teal-800 border-4 border-teal-800;
}
span.tie-breaker {
    min-width: 35px;
}
span.diff-indicator {
    letter-spacing: -0.3rem;
}
span.pos-indicator {
  display: inline-block;
    min-width: 35px;
}
span.icon-indicator {
  color: transparent;
  display: inline-block;
  min-width: 25px;
  vertical-align: text-top;
} 
.row-color-1 span.icon-indicator {
  @apply text-blue-400;
}
.row-color-5 span.icon-indicator {
  @apply text-yellow-400;
}